/* Reset styles */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Grid structure fo navbar, main, footer */
.container-grid {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh;
}



.custom-img {
    max-height: 420px; 
    object-fit: cover; 
  }
  
  
  @media (max-width: 576px) {
    .custom-img {
      max-height: 180px; 
    }
  }

  .product-container {
    background-size: 100%;
    transition: background-size 0.3s ease-in-out;
  }

  .product-container:hover{
    background-size: 130%;
  }